.badge-detail-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: 3rem;
	margin-top: 4rem;
}

.back-button {
	font-size: 1rem;
	align-self: flex-start;
}

.badge-status {
	font-size: 1.25rem;
	border: 0.1rem solid #5E96A7;
	background-color: transparent;
	color: #5E96A7;
	align-self: center;
}

.earned {
	background-color: #5E96A7;
	color: white;
	border: none;
}

.badge-name {
	font-size: 2rem;
	font-weight: bold;
	color: #42120C;
	font-family: 'Strato';
	font-weight: 500;
	margin-bottom: -2rem;
}

.badge-description {
	font-size: 1rem;
	color: #42120C;
	font-family: 'DMSansStatic';
	font-weight: 400;
	font-style: normal;
}

.badge-nav-button-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-top: auto;
	margin-bottom: 4em;

}

.badge-nav-button-footer>button {
	flex: 0 0 auto;
	border: none;
	background-color: transparent;
}

#badge-placeholder-icon {
	width: 55%;
	align-self: center;
	/* height: auto; */
}