.badge-detail-container {
	text-align: center;
	display: flex;
	flex-direction: column;
}

.back-button {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	margin-bottom: 1rem;
}

.badge-name {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
	color: #5d4037;
}

.badge-description {
	font-size: 1rem;
	line-height: 1.5;
	color: #4e342e;
	text-align: left;
	white-space: pre-wrap;
	margin: 0 auto;
	max-width: 500px;
}