.back-button {
	font-size: 1rem;
	align-self: flex-start;
}

.faded {
	opacity: 50%;
}

.badge-status {
	font-size: 1.25rem;
	border: 0.1rem solid #5E96A7;
	background-color: transparent;
	color: #5E96A7;
	align-self: center;
}

.earned {
	background-color: #5E96A7;
	color: white;
	border: none;
}

.badge-verbiage-container {
	display: flex;
	flex-direction: column;
	gap: 2vh;
	align-items: center;
	text-align: center;
}

.badge-name {
	font-size: 2rem;
	font-weight: bold;
	color: #42120C;
	font-family: 'Strato';
	font-weight: 500;
	line-height: 1.5;
}

.badge-description {
	font-size: 1rem;
	color: #42120C;
	font-family: 'DMSansStatic';
	font-weight: 400;
	font-style: normal;
}

.badge-nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: auto;
}

.badge-nav-button {
	font-size: 1rem;
	flex: 0 0 auto;
	border: none;
	background-color: transparent;
	color: #42120C;
	font-family: 'DMSansStatic';
	font-weight: 400;
	font-style: normal;
}

.badge-nav-button-right {
	margin-left: auto;
}

.badge-icon {
	/* width: 60%; */
	height: auto;
	max-width: 100%;
	object-fit: contain;
}