.badge-welcome {
	font-size: 1.5rem;
	font-family: 'DMSansStatic', sans-serif;
	font-weight: 900;
	font-style: normal;
	color: #42120C;
}

.badge-headers-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
}

.badge-header {
	font-size: 2rem;
	font-weight: bold;
	color: #d32f2f;
	font-family: 'Strato', sans-serif;
	font-weight: 500;
	line-height: 1;
}

.leaderboard-button {
	font-size: 1rem;
	text-decoration: none;
}

.badge-instruction {
	font-size: 0.9rem;
	font-family: 'DMSansStatic', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.badge-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(3rem, 1fr));
	gap: 1.5rem;
	/* width: 100%; */
}