/* Reset + baseline */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F5E9DB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.common-flex-container {
  min-height: 100dvh;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;     /* Enables vertical scrolling */
  background-color: #F5E9DB;
  padding: 10vh 10vw;
  gap: 5vh;
}

.content-top {
  justify-content: flex-start;
}

.content-center {
  justify-content: center;
}

.common-button {
  border-radius: 50vmax;
  /* always rounds to max possible */
  background-color: #1A633C;
  border: none;
  color: #F5E9DB;
  padding: 0.3rem 1rem;
  font-family: 'DMSansStatic';
  font-weight: 500;
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

@font-face {
  font-family: 'Strato';
  src: url('./assets/fonts/Strato/strato.medium-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMSansStatic';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSansStatic';
  src: url('./assets/fonts/DM_Sans/static/DMSans_18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSansStatic';
  src: url('./assets/fonts/DM_Sans/static/DMSans_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSansStatic';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}