/* index.css */

/* Reset + baseline */
html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #F5E9DB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}