/* Reset + baseline */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5E9DB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.common-button {
  border-radius: 50vmax;
  /* always rounds to max possible */
  background-color: #1A633C;
  border: none;
  color: white;
}

@font-face {
  font-family: 'Strato';
  src: url('./assets/fonts/Strato/strato.medium-regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'DMSansStatic';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSansStatic';
  src: url('./assets/fonts/DM_Sans/static/DMSans_18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSansStatic';
  src: url('./assets/fonts/DM_Sans/static/DMSans_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}